@model int

@{
    ViewData["Title"] = "Pay";
}

<h2>@SharedLocalizer["CompletePayment"]</h2>

<form asp-controller="Payment" asp-action="Pay">

    <input type="hidden" name="orderId" value="@Model" />

    <div id="payment-element"></div>
    <button type="submit">@SharedLocalizer["PayNow"]</button>
</form>
