@model int

@{
    ViewData["Title"] = "Pay";
}

<h2>Complete Payment</h2>

<form asp-controller="Payment" asp-action="Pay">

    <input type="hidden" name="orderId" value="@Model" />

    <div id="payment-element"></div>
    <button type="submit">Pay Now</button>
</form>
