<div class="modal fade" tabindex="-1" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>@SharedLocalizer["DeleteDesc"] <strong id="deleteProductName">@SharedLocalizer["Products!"] </strong> </p>
            </div>
            <div class="modal-footer">
                <form asp-controller="Product" asp-action="Delete" method="post">
                    <input type="hidden" id="deleteProductId" name="prodId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        @SharedLocalizer["Cancel"]
                    </button>
                    <button type="submit" class="btn btn-danger">
                        @SharedLocalizer["Delete"]
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const deleteModal = document.getElementById('deleteModal');

    deleteModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const productId = button.getAttribute('data-id');
        const productName = button.getAttribute('data-content');

        document.getElementById('deleteProductId').value = productId;
        document.getElementById('deleteProductName').innerText = productName;
    });
</script>