@using ECommerceProject.Application.DTOs.Account
﻿

@model RegisterUser


<div class="w-100 card border-0 p-4">
    <div class="card-header gg-title ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create New Account</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <form method="post" class="row" asp-controller="Account" asp-action="Register">
            <div class="p-3">

                <!-- First Name -->
                <div class="form-floating py-1 col-12">
                    <input asp-for="FirstName" class="form-control border shadow" />
                    <label asp-for="FirstName" class="ms-2"></label>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>

                <!-- Last Name -->
                <div class="form-floating py-1 col-12">
                    <input asp-for="LastName" class="form-control border shadow" />
                    <label asp-for="LastName" class="ms-2"></label>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>

                <!-- Email -->
                <div class="form-floating py-1 col-12">
                    <input asp-for="Email" class="form-control border shadow" />
                    <label asp-for="Email" class="ms-2"></label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <!-- User Name -->
                <div class="form-floating py-1 col-12">
                    <input asp-for="UserName" class="form-control border shadow" />
                    <label asp-for="UserName" class="ms-2"></label>
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>

                <!-- Password -->
                <div class="form-floating py-1 col-12">
                    <input asp-for="Password" class="form-control border shadow" />
                    <label asp-for="Password" class="ms-2"></label>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>


                <!-- Confirm Password -->
                <div class="form-floating py-1 col-12">
                    <input asp-for="ConfirmPassword" class="form-control border shadow" />
                    <label asp-for="ConfirmPassword" class="ms-2"></label>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>


                <!-- Selected Role -->
                <div class="form-group">
                    <label>Register As</label>
                    <select asp-for="SelectedRole" class="form-control">
                        <option value="">-- Select Role --</option>
                        <option value="Buyer">Buyer</option>
                        <option value="Seller">Seller</option>
                    </select>
                    <span asp-validation-for="SelectedRole" class="text-danger"></span>
                </div>



                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100">
                            <i class="bi bi-check-circle"></i> Create
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary w-100">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>



            </div>
        </form>
    </div>
</div>



