﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E-Commerce Website</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="ECommerceProject.MVC.styles.css" asp-append-version="true" />
    <link href="~/css/bootstrabicons.css" rel="stylesheet" />
    <link href="~/css/toaster.css" rel="stylesheet" />
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-body-tertiary">
            <div class="container-fluid">

                <!-- Logo -->
                <a class="navbar-brand fw-bold" asp-controller="Home" asp-action="Index">LOGO</a>

                <!-- Toggler -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left Links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ms-2">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item ms-2">
                            <a class="nav-link" href="#">Manage Orders</a>
                        </li>


                        @if(User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown ms-2">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                   data-bs-toggle="dropdown">
                                    Admin Panel
                                </a>
                                <ul class="dropdown-menu ms-2">
                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="Admin"
                                           asp-action="Dashboard">
                                            Dashboard
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                           asp-controller="Admin"
                                           asp-action="Users">
                                            Manage Users
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (User.Identity.IsAuthenticated && User.IsInRole("Seller"))
                        {
                            <li class="nav-item dropdown ms-2">
                                <a class="nav-link dropdown-toggle" href="#" role="button"
                                   data-bs-toggle="dropdown">
                                    Seller Section
                                </a>
                                <ul class="dropdown-menu ms-2">
                                    <li><a class="dropdown-item" asp-controller="Category" asp-action="Index">Categories</a></li>
                                    <li><a class="dropdown-item" asp-controller="Product" asp-action="Index">Products</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="#">Something else</a></li>
                                </ul>
                            </li>
                        }
                        
                    </ul>

                    <!-- Right Links -->
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ms-3">
                                <a class="nav-link" asp-controller="Account" asp-action="Register">Sign Up</a>
                            </li>
                            <li class="nav-item ms-3">
                                <a class="nav-link" asp-controller="Account" asp-action="LogIn">Login</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ms-3">
                                <span class="nav-link">
                                    Hello, @User.Identity.Name
                                </span>
                            </li>

                            <li class="nav-item ms-3">
                                <form asp-controller="Account" asp-action="LogOut" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-danger">
                                        Logout
                                    </button>
                                </form>
                            </li>
                        }

                    </ul>

                </div>
            </div>
        </nav>
</header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - ECommerceProject.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)


    <!-- Jquery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!-- Toaster -->
    <script src="~/js/toaster.js"></script>

    <!-- Validation -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/validation-styling.js"></script>


    <!-- Notifications -->
    <partial name="_Notification" />

</body>
</html>





